
@media (max-width: 540px) {
  .city-title {
    font-size: 1.5em;
    margin-left: 15px;
  }

  .date-time-info {
    font-size: 10pt;
    margin-left: 15px;
  }

  .WeatherIcon {
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
  }

  .city-select-img {
    width: 64px;
  }

  .detail-info {
    font-size: 4em;
    line-height: 0.5em;
    left: calc(-25%);
    top: 25px;
  }

  .detail-info .details {
    font-size: 10pt;
    left: 105px;
    color: #ffffff;
    top: -70px;
  }

  .tab-container {
    height: 180px;
  }

  .system-switch {
    right: 25px;
    top: 20px;
  }

  .system-switch img {
    width: 48px;
  }

  .system-img-f {
    top: -15px;
    left: 20px;
  }

  .system-img-c {
    top: -15px;
  }
}

@media (min-width: 541px) and (max-width: 1000px) {
  .city-title {
    font-size: 3.5em;
  }

  .date-time-info {
    font-size: 10pt;
  }

  .WeatherIcon {
    width: 150px;
    height: 150px;
    left: calc(50% - 60px);
  }
  .detail-info {
  }
}
@media (min-width: 1001px) and (max-width: 1441px) {
  .city-title {
    font-size: 3.5em;
  }

  .WeatherIcon {
    width: 200px;
    height: 200px;
    top: 15px;
  }
  .detail-info {
  }
}
@media (min-width: 1442px) {
}